# Ignorar a pasta do Frontend Web (Exigência da Fase 1 focada em Mobile)
frontend/

# Node.js
node_modules/
npm-debug.log
yarn-error.log

# React Native / Expo
evolv-mobile/.expo/
evolv-mobile/dist/
evolv-mobile/web-build/

# Variáveis de Ambiente (Segurança)
.env
.env.local

# Ficheiros de Sistema (Mac/Windows)
.DS_Store
Thumbs.db